/* SAS variables */

//@import 'https://fonts.googleapis.com/css?family=Abril+Fatface|Actor|Allerta+Stencil|Archivo+Black|Asul|Bungee|Bungee+Shade|Courgette|Farsan|Russo+One|UnifrakturCook:700';
@import 'https://fonts.googleapis.com/css?family=Asul|Farsan';



$yellow				: #fff45c;
$orange				: #F37021;
$red				: #CC004C;
$purple				: #6460AA;
$blue				: #0089D0;
$green				: #0DB14B;
$white				: #f0f0f0;
$black              : #0a0a0a;
$orange-lite        : #d1ad68;
$green-lite         : #aa8;


$facebook-blue          : #3b5998;
$twitter-blue           : #00aced;
$instagram-blue         : #125688;

$font-size-base	    	: 16px;
$font-family-base		: 'Farsan', Georgia, Serif;


$font-title-main		: 'Asul ',sarif;
$font-intro-main		: 'Pathway Gothic One',sarif;
$body-background-image	: '../images/bestof/bw-band-bg1.jpg';
$logo-title-icon		: '../images/bestof/rooks-icon.png';
$header-background-image : '../images/speaker-grill.jpg';

 
html{ font-size: $font-size-base;}
body{
    background-image: url($body-background-image);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: $black;
    font-family: $font-family-base;
    font-size: 1em;
    color: $black;
}


