<p>

The Rooks band was originally started by
Brian Knowles and Jim Brandt
 while in junior high school, and now have teamed up with Frank and Bob to continue the tradition.

 Like destiny that brought them together again, the band continues to evolve and extend musical boundaries while staying true to Rock roots and creative open spirit. 

<!--
 Truley fortunate sons enjoying the thrill of making great music -and loving every minute of it!

-->

</p>


<!--
<p>
Like destiny that brought them back together, the band has gelled to form a nucleous 
of harmony and melody that’s just different enough to make everything seem new again.
</p>

-->